.card {
    padding: 20px;
    display: flex;
    padding-left: 10p;
    margin:auto;
    box-shadow: 0 4px 8px 0 rgb(54 50 164 / 20%);
    width: 440px;
    border-radius: 20px;
  }
  
  #coolCards {
    display: flex;
  }
  
  .card-body {
    margin:auto;
    font-size: 24px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px black;
  }
  
  .cardImage {
    height: 300px;
    width: 300px;
    margin: auto;
  }
  .card1{
      height: 500px;
      width: 500px;
      margin: auto;
      border-style: solid;
      border-width: 5px;
      
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }